name: First Linux Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      
    - name: Run Linux Commands
      run: |
        echo "Hello from the cloud!"
        uname -a
        ls -la
        this-command-does-not-exist  # This will break the build!